* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home {
  background: #f8f9fb;
  color: #fff;
}

.home__content {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.home__title {
  color: #585b60;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 48px;
  margin-top: 48px;
  padding: 0 10px;
  position: relative;
  padding: 80px 0px 0px !important;
}

.home__button {
  color: #fff;
  background-color: #4297e0;
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  outline: none;
  border: 1px solid #4297e0;
}

.home__image {
  margin-top: 60px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__icon {
  color: #137ED9;
  font-size: 25px;
  display: none !important;
  cursor: pointer;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  color: #585b60;
  font-weight: 400;
  padding: 8px 17px;
  cursor: pointer;
  font-size: 20px;
  background: transparent;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.nav__link:hover {
  color: #137ED9;
}

.nav__link--active {
  color: #137ED9;
}

.services__title {
  color: #585b60;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 48px;
  margin-top: 48px;
  padding: 0 10px;
  position: relative;
}

.services__container {
  padding: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.services__icon {
  font-size: 42px;
  color: #137ED9;
}

.services__item-title {
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: #585b60;
}

.feature {
  background-color: #f8f9fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__about {
  padding: 80px;
}

.feature__title {
  padding-bottom: 30px;
  font-size: 40px;
  margin-bottom: 30px;
}

.feature__container {
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.feature__icon {
  color: #137ED9;
  font-size: 30px;
  margin-bottom: 20px;
}

.feature__item-title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.feature__text {
  color: #abacae;
  line-height: 25px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  font-size: 14px;
}

.feature__image {
  width: 100%;
  height: 100%;
}

.team__title {
  color: #585b60;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 48px;
  margin-top: 48px;
  padding: 0 10px;
  position: relative;
}

.team__container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team__item {
  margin: 15px 0;
  border-radius: 0px;
  -webkit-box-shadow: 0 10px 30px -7px black;
          box-shadow: 0 10px 30px -7px black;
  position: relative;
}

.team__overlay {
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  width: 100%;
  border-radius: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team__overlay:hover {
  opacity: 0.7;
}

.team__link {
  text-decoration: none;
}

.team__overlay-icons {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.team__social-icon {
  font-size: 35px;
  padding-left: 20px;
  color: #137ED9;
}

.team__info {
  padding: 15px 20px;
  background: #fff;
  text-align: center;
}

.team__title-info {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.team__title-paragraph {
  margin: 0;
  color: #888;
}

.testimonial {
  margin-top: 60px;
  background: #34363a;
  padding: 60px 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.testimonial__description {
  width: 700px;
  color: #abacae;
  text-align: center;
  padding-bottom: 60px;
}

.testimonial__image {
  border-radius: 100%;
  padding-bottom: 10px;
}

.testimonial__name {
  color: #137ED9;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 5px;
}

.testimonial__street {
  font-size: 15px;
  color: #fff;
}

.dots {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dots__item {
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px 4px;
  opacity: 1;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #fff;
}

.dots__item--active {
  background: #137ED9;
  border-color: #137ED9;
}

.price {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin: 60px;
  padding-top: 60px;
  padding-bottom: 100px;
}

.price__item {
  padding: 50px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
          box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
  -webkit-transition: 1s;
  transition: 1s;
}

.price__item:hover {
  background: rgba(19, 126, 217, 0.06);
}

.price__item--active {
  background: rgba(19, 126, 217, 0.06);
}

.price__category {
  font-size: 21px;
  color: #137ED9;
  text-align: center;
  padding-bottom: 40px;
  font-weight: 700;
}

.price__number {
  text-align: center;
  font-size: 29px;
  font-weight: 700;
}

.price__date {
  font-size: 15px;
}

.price__description {
  padding-top: 40px;
  text-align: center;
  list-style-type: none;
}

.price__list {
  font-size: 16px;
  font-weight: 400;
  color: #abacae;
  padding-bottom: 15px;
}

.price__button {
  background-color: #137ED9;
  border: 1px solid #137ED9;
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
  margin-top: 60px;
  margin-bottom: 30px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.free {
  padding: 50px;
  margin-bottom: 100px;
  background-color: #f8f9fb;
}

.free__title {
  text-align: center;
  font-size: 40px;
}

.free__description {
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  color: #abacae;
}

.free__input {
  outline: none;
  position: relative;
  width: 400px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border-radius: 50px;
  position: relative;
  height: 52px;
  border: 1px solid #137ED9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 25px 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 14px;
}

.free__button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: none;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.free__icon {
  width: 48px;
  height: 48px;
  background: #137ED9;
  cursor: pointer;
  display: block !important;
  color: #fff;
  line-height: 48px !important;
  border-radius: 50%;
}

@media (max-width: 750px) {
  .nav__list {
    display: none;
  }
  .nav__icon {
    display: block !important;
  }
  .services__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .feature {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feature__image {
    height: auto;
  }
  .testimonial__description {
    width: 100%;
  }
  .price {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .home__title {
    font-size: 32px;
  }
  .home__image {
    width: 100%;
  }
  .services__container {
    padding: 30px 50px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .feature__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .feature__title {
    font-size: 30px;
  }
  .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .price {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */