.home {
    background: #f8f9fb;
    color: $white-color;

    &__content {
        display: grid;
        justify-items: center;
    }

    &__title {
        @include header;
        padding: 80px 0px 0px !important;
    }

    &__button {
        color: $white-color;
        background-color: #4297e0;
        font-size: 14px;
        padding: 10px 30px;
        cursor: pointer;
        font-weight: 400;
        color: $white-color;
        border-radius: 30px;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        display: inline-block;
        outline: none;
        border: 1px solid #4297e0;
    }

    &__image {
        margin-top: 60px;
    }
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav {    
    &__icon {
        color: $primary-color;
        font-size: 25px;
        display: none !important;
        cursor: pointer;
    }

    &__list {
        display: flex;
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
        color: #585b60;
        font-weight: 400;
        padding: 8px 17px;
        cursor: pointer;
        font-size: 20px;
        background: transparent;
        transition: all 0.3s ease-out 0s;

        &:hover {
            color: $primary-color;
        }
    }

    &__link--active {
        color: $primary-color;
    }
}

.services {
    &__title {
        @include header;
    }

    &__container {
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    &__icon {
        font-size: 42px;
        color: $primary-color;
    }

    &__item-title {
        margin-top: 10px;
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 15px;
        text-transform: uppercase;
        color: #585b60;
    }
}

.feature {
    background-color: #f8f9fb;
    display: flex;

    &__about {
        padding: 80px;
    }

    &__title {
        padding-bottom: 30px;
        font-size: 40px;
        margin-bottom: 30px;
    }

    &__container {
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 1fr;
    }

    &__icon {
        color: $primary-color;
        font-size: 30px;
        margin-bottom: 20px;
    }

    &__item-title {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__text {
        color: #abacae;
        line-height: 25px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        margin: 0px;
        font-size: 14px;
    }

    &__image {
        width: 100%;
        height: 100%;
    }
}

.team {
    
    &__title {
        @include header;
    }

    &__container {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__item {
        margin: 15px 0;
        border-radius: 0px;
        box-shadow: 0 10px 30px -7px black;
        position: relative;
    }
    
    &__overlay {
        cursor: pointer;
        height: 100%;
        position: absolute;
        top: 0;
        background: rgba(255, 255, 255, 0.8);
        opacity: 0;
        width: 100%;
        border-radius: 0px;
        transition: 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__overlay-icons {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -100%);
    }

    &__social-icon {
        font-size: 35px;
        padding-left: 20px;
        color: $primary-color;
    }

    &__info {
        padding: 15px 20px;
        background: $white-color;
        text-align: center;
    }

    &__title-info {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 5px;
    }

    &__title-paragraph {
        margin: 0;
        color: #888;
    }
}

.testimonial {
    margin-top: 60px;
    background: #34363a;
    padding: 60px 0;
    display: grid;
    justify-items: center;

    &__description {
        width: 700px;
        color: #abacae;
        text-align: center;
        padding-bottom: 60px;
    }

    &__image {
        border-radius: 100%;
        padding-bottom: 10px;
    }

    &__name {
        color: $primary-color;
        font-weight: 700;
        font-size: 22px;
        padding-bottom: 5px;
    }

    &__street {
        font-size: 15px;
        color: $white-color;
    }
}

.dots {
    padding-top: 50px;
    display: flex;

    &__item {
        display: block;
        width: 12px;
        height: 12px;
        margin: 2px 4px;
        opacity: 1;
        border-radius: 30px;
        background: $white-color;
        border: 2px solid $white-color;

        &--active {
            background: $primary-color;
            border-color: $primary-color;
        }
    }
}
